env_variables:
  CHANNEL_ID: YOUR_CHANNEL_ID
  CHANNEL_SECRET: YOUR_CHANNEL_SECRET
  PUBSUB_TOPIC: YOUR_PUBSUB_TOPIC
  PUBSUB_SUBSCRIPTION: YOUR_PUBSUB_SUBSCRIPTION
  PUBSUB_VERIFICATION_TOKEN: YOUR_PUBSUB_VERIFICATION_TOKEN
